@import "./src/styles/mixins";
@import "./src/styles/config";

.place-order {
  &__inner {
    @include container;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;

    &--admin {
      margin-top: 2rem;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__left {
    width: 60%;
    display: block;
    @include media(md){
      width: 100%;
      margin-bottom: 35px;
    }
  }

  &__right {
    max-width: 350px;
    width: 100%;
    display: block;
    position: relative;
  }

  &__summary {
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 100px;
    border: 1px solid $border;
    border-radius: 4px;
    padding-bottom: 1rem;

    &__title {
      padding: 1rem 2rem;
      background: $light;
      margin-bottom: 1.5rem;
    }

    &__item {
      display: flex;
      padding: .5rem 2rem;
      justify-content: space-between;

      &--total {
        margin-top: 1rem;
        font-weight: 600;
      }
    }

    &__button {
      margin: 1rem auto 0;
      width: calc(100% - 4rem);
      padding: 0.5rem;
      background-color: $green;
      color: $white;
      border-radius: 4px;
      transition: .3s ease-in, .3s ease-in-out;

      &:hover {
        background-color: $greenHover;
      }
    }
  }

  &__shipping {
    &__text {
      margin-top: 1rem;
    }
  }

  &__payment,
  &__user {
    margin-top: 2rem;

    &__text {
      margin-top: 1rem;
    }
  }

  &__cart {
    margin-top: 2rem;

    &__list {
      margin-top: 1rem;
    }

    &__item {
      margin-top: 1.2rem;
      display: flex;
      align-items: flex-start;
      padding-bottom: 1rem;
      border-bottom: 1px solid #EBEBEB;
      width: 70%;
      @include media(sm){
        width: 100%;
      }

    &:last-child {
        border-bottom: 0;
      }

      &__image {
        width: 80px;
        object-fit: contain;
        margin-right: 1rem;
      }

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &__name {
        color: $black;
      }

      &__price {
        margin-left: auto;
      }
    }
  }

  &__payment-btns {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;

    .loader__image {
      margin-left: 0;
    }
  }

  &__deliver-btn {
    background-color: $green;
    border-radius: 4px;
    padding: .5rem 1rem;
    color: $white;
  }
}