@import "./src/styles/mixins";
@import "./src/styles/config";

.breadcrumbs
{
    margin: 5px 0;
    display: flex;
    align-items: center;

    &__item
    {
        font-size: 14px;
        color: $black;
        position: relative;

        &:after
        {
            content: '/';
            margin: 0 5px;
        }

        &:last-child
        {
            opacity: .8;

            &:after
            {
                display: none;
            }
        }
    }
}