@import './src/styles/mixins';
@import './src/styles/config';

.review-popup {
  position: fixed;
  background: #0000008a;
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;

  &__inner {
    position: relative;
    max-width: 630px;
    width: 100%;
    background: white;
    padding: 22px 30px;
    max-height: 80%;
    overflow: auto;
    @include media(sm) {
      margin: 30px;
    }
    @include media(xs) {
      margin: 15px;
      padding: 15px;
    }

  }

  &__close {
    position: absolute;
    font-size: 1.4rem;
    color: black;
    cursor: pointer;
    right: 0;
    top: 0;
    line-height: 1;
    z-index: 999;
    padding: 14px;
  }

  .review-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__group {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 28px;
      width: 100%;
    }



    &__group--half {
      width: 47%;
      margin-bottom: 52px;
      @include media(xs) {
        width: 100%;
        margin-bottom: 28px;
      }
    }

    &__legend {
      width: 100%;
      font-size: 1.125rem;
      font-weight: 500;
      padding-bottom: 22px;
      position: relative;
      display: flex;
      justify-content: center;
      margin-bottom: 28px;

      &:after {
        content: '';
        position: absolute;
        border-bottom: 1px solid #E4E4E4;
        bottom: 0;
        width: 100%;
        left: 0;
        align-self: start;
      }

    }

    &__error {
      position: absolute;
      bottom: -20px;
      font-size: 0.75rem;
      color: darkred;
    }

    &__label {
      display: block;
      font-size: 0.875rem;
      margin-bottom: 8px;
    }


    &__input {
      border: 1px solid #E4E4E4;
      padding: 8px 14px;
    }

    &__textarea {
      border: 1px solid #E4E4E4;
      padding: 8px 14px;
      min-height: 90px;
      resize: none;
    }

    &__button {
      font-size: 0.875rem;
      font-weight: 500;
      text-align: center;
      width: 47%;
      padding: 12px;
      @include media(xs){
        margin-top: 24px;
      }
    }

    &__button-clear {
      background: #F3F3F3;
    }

    &__button-submit {
      background: $green;
      color: $white;
    }

    &__rating {
      display: flex;


      &__item {
        cursor: pointer;

        &:last-child {
          @include media(xs) {
            margin-right: 0;
          }
        }

        @include media(xs) {
          width: 22px;
          height: 22px;
          margin-right: 5px;
        }

        path {
          fill: #dddddd;
        }

      }

      &__item.active {
        path {
          fill: $black;
        }

      }
    }

  }


}

.review-popup.review-popup--show {
  display: flex;
}
