.products {
  margin-top: 1rem;
  &__inner {
    @include container;
  }

  &__title{
    margin-top: 2rem;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 2rem 0 1rem 0;

    @include media(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__action{
    display: flex;
    align-items: center;
    &__text{
      font-size: 0.875rem;
      text-transform: uppercase;
      margin-left: 5px;
      font-weight: 500;
    }
    &__switch {
      position: relative;
      display: inline-block;
      width: 24px;
      height: 14px;
    }
    &__input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .products__action__toggle {
        background-color: $black;
      }
      &:checked + .products__action__toggle:before {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
      }
    }
    &__toggle {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      &:before{
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
    }
    &__toggle.round{
      border-radius: 34px;
      &:before{
        border-radius: 50%;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__sort {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    &:after{
      content: ">";
      position: absolute;
      color: #242222;
      right: 0;
      font-size: 14px;
      transform: rotate(90deg);
      z-index: -1;
      font-weight: 600;
    }


    @include media(md) {
      margin-left: 0;
      margin-top: 1rem;
    }

    label {
      font-weight: 500;
      margin-right: 2px;
    }
  }

  &__select {
    width: 200px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__list {
    padding-top: 1rem;
  }


}

.products__list {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -.5rem 0.5rem;
  width: 80%;

  @include media(lg) {
    width: 100%;

  }
  @include media(sm) {
    margin: 0 0 0.5rem;
  }
}

.products__item {
  width: calc(33.3333% - 1rem);

  @include media(lg) {
    width: calc(50% - 1rem);
  }

  @include media(sm) {
    width: 100%;
  }
}

.products__list.large{
  width: 100%;
  .products__item{
    width: calc(25% - 1rem);
  }
}