@import "./src/styles/mixins";
@import "./src/styles/config";

.best-sellers {
  margin-top: 140px;
  @include media(md){
    margin-top: 70px;
  }
  &__inner {
    @include container;
  }

  &__headline {
    text-align: center;
    margin-bottom: 22px;
  }

  &__view-more {
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;

    &:visited{
      color: $black;
    }
    &:hover {
      text-decoration: underline;
    }

    img {
      width: 5px;
      height: 10px;
      margin: 3px 0 0 5px;
    }

  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__left {
    width: calc(50% - 8px);
    @include media(md) {
      width: 100%;
      margin-bottom: 16px;
    }

    &__item {
      width: 100%;
    }
  }

  &__right {
    width: calc(50% - 8px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    @include media(md) {
      width: 100%;
    }

    &__item {
      width: calc(50% - 8px);
      @include media(xs) {
        width: 100%;
        margin-bottom: 16px;
      }

      &:first-child {
        width: 100%;
        margin-bottom: 16px;
      }

    }
  }

  &__item {
    display: flex;
    position: relative;

    &:hover {
      .best-sellers__learn-more {
        opacity: 1;
      }
    }

    img {
      object-fit: cover;
      @include media(md){
        object-fit: contain;
      }
    }
  }


  &__information {
    position: absolute;
    transform: translate(22px, 22px);
  }

  &__tagline {
    color: #8C8C8C;
    @include media(xs) {
      font-size: 0.875rem;
    }
  }

  &__name {
    font-size: 1.375rem;
    color: $white;
    font-weight: 500;
    margin-bottom: 16px;
    @include media(xs) {
      font-size: 1rem;
    }
  }

  &__learn-more {
    color: $green;
    display: flex;
    align-items: center;
    justify-content: end;
    transition: .5s;
    opacity: 0;


    img {
      width: 5px;
      height: 10px;
      margin: 3px 0 0 5px;
    }

  }


}