@import "./src/styles/mixins";
@import "./src/styles/config";


.featured_products {
  margin-top: 140px;
  @include media(md){
    margin-top: 70px;
  }

  &__headline {
    text-align: center;
    margin-bottom: 22px;
  }

  &__inner {
    @include container;
    margin-top: 0;
  }

  .products {
    &__list {
      width: 100%;
      margin: unset;
      justify-content: space-between;
    }

    &__item {
      width: calc(25% - 0.5rem);
      margin: 0 0 1rem 0;
      @include media(lg){
        width: calc(50% - 0.5rem);
      }
      @include media(xs){
        width: 100%;
      }
    }
  }
}