@import "./src/styles/mixins";
@import "./src/styles/config";


.featured_products {
  margin-top: 140px;

  &__headline {
    text-align: center;
    margin-bottom: 22px;
  }

  &__inner {
    @include container;
  }

  .products {
    &__list {
      width: 100%;
    }

    &__item {
      width: calc(25% - 1rem);
      @include media(lg){
        width: calc(50% - 1rem);
      }
      @include media(xs){
        width: 100%;
      }
    }
  }
}