@import "./src/styles/mixins";
@import "./src/styles/config";

.product {

  &__preview {
    display: flex;

    &__left {
      display: flex;
      align-items: center;
      padding-right: 20px;
    }

    &__right {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 600px;
      width: 100%;
      min-height: 480px;
      padding: 20px;

      img {
        width: fit-content;
      }
    }
  }

  &__thumbs {
    width: 70px;

    &__item {
      width: 100%;
      height: 70px;
      margin-bottom: 10px;
      background: #F7F7F7;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        border: 1px solid $green;
      }

      img {
        width: 52px;
        height: 52px;
        object-fit: contain;
      }
    }
  }

}

