@import "./src/styles/mixins";
@import "./src/styles/config";

.profile {
  &__inner {
    @include container;
    margin-top: 1rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 2rem;
    min-height: 350px;
  }

  &__tabs {
    position: relative;
    width: 20%;
    padding-top: 4rem;
    background: linear-gradient(180deg, #F7F7F7 0%, rgba(251, 251, 251, 0) 100%);
    @include media(sm){
      background: none;
    }

    @include media(sm){
      width: 100%;
      padding-top: unset;
      margin-bottom: 3rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      top: 100px;
      padding: 1rem;
      @include media(sm){
        flex-direction: row;
        flex-wrap: wrap;
        top: unset;
        padding: 0;
      }
    }

    &__item {
      margin-bottom: 1.3rem;
      line-height: 1;
      &:last-child{
        margin-bottom: unset;
        @include media(sm){
          padding-right: unset;

        }
      }
      @include media(sm){
        margin: unset;
        padding-right: 20px;
      }
    }

    &__button {
      text-align: start;
      padding: 5px 0;
    }

    &__content {
      width: 70%;
      @include media(sm){
        width: 100%;
      }

    }
  }

  &__account,
  &__orders {
    display: none;
    width: 100%;
  }

  &__personal {
    &__title{
      margin-bottom: 2.5rem;
    }

    &__form {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &__item {
      width: calc(50% - .5rem);
      display: flex;
      flex-direction: column;
      margin-top: 1.5rem;
      &:nth-child(1),
      &:nth-child(2){
        margin-top: unset;
      }
      @include media(xs){
        width: 100%;
        margin: 0 0 1.5rem 0;
      }
    }

    &__input {
      background: $white;
      border: 1px solid $border;
      box-sizing: border-box;
      box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.02);
      border-radius: 4px;
      padding: .5rem 1rem;
    }

    &__submit {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 100%;
      margin-top: 3rem;
      @include media(xs){
        justify-content: center;
      }
    }

    &__button {
      background-color: #3dd5a2;
      color: #ffffff;
      border-radius: 4px;
      transition: 0.3s ease-in, 0.3s ease-in-out;
      padding: 0.55rem 4rem;

      &:hover {
        background-color: $greenHover;
      }
    }
  }

  &.account {
    .profile__tabs__button--account {
      color: $greenHover;

    }

    .profile__account {
      display: block;
    }
  }

  &.orders {
    .profile__tabs__button--orders {
      color: $greenHover;

    }

    .profile__orders {
      display: block;
    }
  }

  &__orders {
    &__title{
      margin-bottom: 3.5rem;
    }
    &__notification{
      font-size: 1.2rem;
    }
    &__list {
      display: flex;
      flex-direction: column;
      @include media(md){
        min-width: 650px;
      }
    }
    &__overflow-container{
      overflow-x: scroll;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        width: 0 !important;
        display: none;
      }
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      border: 1px solid $border;
      background-color: rgba(204, 204, 204, .2);

      h6{
        word-wrap: break-word;
        font-size: 0.875rem;
      }

      &--head {
        background-color: $white;
      }

      &__tab {
        border-right: 1px solid $border;
        padding: .5rem 1rem;
        width: 20%;
        display: flex;
      }

      &__link {
        color: $black;
      }
    }
  }
}