@import "./src/styles/mixins";
@import "./src/styles/config";

.product {

  &__preview {
    display: flex;

    &__left {
      display: flex;
      align-items: center;
      padding: 20px 0 20px 20px;
    }

    &__right {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 600px;
      width: 100%;
      min-height: 480px;
      padding: 20px;
      @include media(sm){
        min-height: unset;
      }

      img {
        width: fit-content;
      }
    }
  }

  &__thumbs {
    &__item {
      width: 70px;
      height: 70px;
      margin-bottom: 10px;
      background: #F7F7F7;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      @include media(xs) {
        height: 50px;
        width: 50px;
      }

      &:hover {
        border: 1px solid $green;
      }

      img {
        width: 52px;
        height: 52px;
        object-fit: contain;
        padding: 9px;
        box-sizing: content-box;
        @include media(xs) {
          height: 35px;
          width: 35px;
        }
      }
    }
  }

}

