$breakpoints: (
        xs: 576px,
        sm: 768px,
        md: 991px,
        lg: 1200px,
        xl: 1440px,
        hd: 1920px,
);

$black: #242222;
$white: #ffffff;
$body: #f8f8fa;
$grey: #707070;
$darkgrey: #5e5d5d;
$blue: #0c2785;
$purple: #611f69;
$lightgrey: #bebebe;
$light: #f8f8f8;
$border: #EBEBEB;
$green: #3DD5A2;
$greenHover: #32c292;
$red: #b42025;
$footer: #333333;