@import "./src/styles/mixins";
@import "./src/styles/config";

.admin {
  min-height: 100.1vh;

  &__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgb(221, 225, 229);

    &__logo {
      img {
        width: 10rem;
        height: auto;
      }
    }

    &__list {
      margin-top: 2rem;
      width: 100%;
    }

    &__item {
      width: 100%;
    }

    &__link {
      padding: .5rem;
      display: flex;
      align-items: center;
      width: 100%;
      color: $black;
      transition: .3s ease-in, .3s ease-in-out;

      &--active {
        background-color: rgb(246, 247, 251);
      }

      &:hover {
        background-color: rgb(246, 247, 251);
      }

      span {
        margin-left: 1rem;
      }
    }
  }

  main {
    padding-left: 350px;
    padding-right: 100px;
    padding-top: 2rem;
  }

  .board-image {
    height: 250px;
  }

  &__user,
  &__products {
    &__list {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      border: 1px solid $border;

      &__tab {
        border-right: 1px solid $border;
        padding: .5rem 1rem;
        width: 30%;

        &:first-child {
          width: 10%;
        }
      }
    }

    &__link {
      color: $black;
    }

    &__remove {
      color: $red;
      margin-left: 1rem;
    }
  }

  &__product {
    &__form {
      display: flex;
      flex-direction: column;

      &__item {
        width: calc(50%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
      }

      &__input {
        margin-top: .5rem;
        border: 1px solid #ccc;
        width: 100%;
        padding: .5rem 1rem;
      }

      input[type='file'] {
        border: 0;
        margin-top: .5rem;
        padding: .5rem 0;
      }

      textarea {
        width: 100%;
        border: 1px solid #ccc;
        padding: .5rem 1rem;
      }

      &__submit {
        background-color: $green;
        padding: .5rem 1rem;
        border-radius: 4px;
        color: $white;
      }

      &__image
      {
        width: 100px;
        margin-top: .5rem;
      }
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__add-btn {
    background-color: $black;
    color: $white;
    padding: .5rem 1rem;
  }
}