@import "./src/styles/mixins";
@import "./src/styles/config";

.cart {
  &__inner {
    @include container
  }

  &__content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-top: 1rem;
    flex-wrap: wrap-reverse;

    &__left {
      width: 60%;
      display: block;
      @include media(md){
        width: 100%;
      }
      @include media(xs){
        overflow-x: scroll;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          width: 0 !important;
          display: none;
        }
      }
    }

    &__right {
      width: 35%;
      display: block;
      position: relative;
      @include media(md){
        max-width: 350px;
        width: 100%;
        margin-bottom: 35px;
      }
    }
  }

  &__order {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 100px;
    border: 1px solid $border;
    border-radius: 4px;
    padding-bottom: 1rem;
    @include media(sm){
      font-size: 0.875rem;
    }

    &__title {
      padding: 1rem 2rem;
      background: $light;
      margin-bottom: 1.5rem;
    }

    &__item {
      display: flex;
      padding: .5rem 2rem;
      justify-content: space-between;

      &--total {
        margin-top: 1rem;
        font-weight: 600;
      }
    }

    &__button {
      margin: 1rem auto 0;
      width: calc(100% - 4rem);
      padding: 0.5rem;
      background-color: $green;
      color: $white;
      border-radius: 4px;
      transition: .3s ease-in, .3s ease-in-out;

      &:hover {
        background-color: $greenHover;
      }
    }
  }

  &__product {
    border: 1px solid $border;
    border-radius: 4px;
    @include media(sm){
      font-size: 0.875rem;
    }
    @include media(xs){
      min-width: 500px;
    }

    &__head {
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem;
      background: $light;
      border-radius: 4px 4px 0 0;

      &__name {
        width: 60%;
        color: $grey;
        font-size: .9rem;
      }

      &__qty {
        width: 30%;
        color: $grey;
        font-size: .9rem;
      }

      &__total {
        width: 10%;
        color: $grey;
        font-size: .9rem;
      }
    }

    &__item {
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;


      &__image {
        width: 100%;

        &-wrap {
          width: 20%;
          @include media(xs){
            width: 40px;
          }

        }
      }

      &__title {
        color: $black;
      }

      &__info {
        width: 40%;
        padding: 0 1.3rem;
      }

      &__qty {
        width: 30%;
        align-self: flex-start;
        display: flex;
        align-items: center;

        &-val {
          margin: 0 1rem;
          max-width: 20px;
          width: 20px;
          text-align: center;
        }

        &-btn {
          width: 25px;
          height: 25px;
          background: $border;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover{
            transition: .5s;
            background: #32c292ab;
            svg{
              fill: $white;
            }

          }
          svg{
            width: 14px;
            transition: .5s;
          }
        }
      }

      &__total {
        width: 10%;
      }

      &__remove {
        margin-top: 2rem;

        i {
          margin-right: .5rem;
        }
      }
    }
  }
}