@import "./src/styles/mixins";
@import "./src/styles/config";

.cart {
  &__inner {
    @include container
  }

  &__content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-top: 1rem;

    &__left {
      width: 60%;
      display: block;
    }

    &__right {
      width: 35%;
      display: block;
      position: relative;
    }
  }

  &__order {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 100px;
    border: 1px solid $border;
    border-radius: 4px;
    padding-bottom: 1rem;

    &__title {
      padding: 1rem 2rem;
      background: $light;
      margin-bottom: 1.5rem;
    }

    &__item {
      display: flex;
      padding: .5rem 2rem;
      justify-content: space-between;

      &--total {
        margin-top: 1rem;
        font-weight: 600;
      }
    }

    &__button {
      margin: 1rem auto 0;
      width: calc(100% - 4rem);
      padding: 0.5rem;
      background-color: $green;
      color: $white;
      border-radius: 4px;
      transition: .3s ease-in, .3s ease-in-out;

      &:hover {
        background-color: $greenHover;
      }
    }
  }

  &__product {
    border: 1px solid $border;
    border-radius: 4px;

    &__head {
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem;
      background: $light;
      border-radius: 4px 4px 0 0;

      &__name {
        width: 60%;
        color: $grey;
        font-size: .9rem;
      }

      &__qty {
        width: 30%;
        color: $grey;
        font-size: .9rem;
      }

      &__total {
        width: 10%;
        color: $grey;
        font-size: .9rem;
      }
    }

    &__item {
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;

      &__image {
        width: 100%;

        &-wrap {
          width: 20%;
        }
      }

      &__title {
        color: $black;
      }

      &__info {
        width: 40%;
        padding: 0 1.3rem;
      }

      &__qty {
        width: 30%;
        display: flex;

        &-val {
          margin: 0 1rem;
          max-width: 20px;
          width: 20px;
          text-align: center;
        }

        &-btn {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          background: $border;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &__total {
        width: 10%;
      }

      &__remove {
        margin-top: 2rem;

        i {
          margin-right: .5rem;
        }
      }
    }
  }
}