@import "./src/styles/mixins";
@import "./src/styles/config";

.payment {
  &__inner {
    @include container;
    margin-top: 3rem;
  }

  &__form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      align-items: center;

      input {
        margin-right: 1rem;
      }
    }

    &__submit {
      margin-top: 3rem;
    }

    &__button {
      background-color: $green;
      color: $white;
      border-radius: 4px;
      padding: .5rem 2rem;
      transition: .3s ease-in, .3s ease-in-out;

      &:hover {
        background-color: $greenHover;
      }
    }
  }
}