@import "./src/styles/mixins";
@import "./src/styles/config";

.banner {
  min-height: 615px;
  background: url("../../images/banner/bg.png") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: 0;

  @include media(sm){
    min-height: unset;
    padding: 55px 0;
  }
  @include media(xs){
    background: url("../../images/banner/mobile-bg.png") no-repeat center;
    min-height: 600px;
    background-size: cover;
  }
  &__inner {
    @include container;
  }

  &__flag {
    color: $green;
    margin-bottom: 5px;
    font-weight: 500;
  }

  &__headline {
    font-size: 3rem;
    font-weight: 700;
    color: $white;
    span{
      font-weight: 300;
    }

  }

  &__tagline {
    max-width: 305px;
    width: 100%;
    margin-bottom: 88px;
    color: $white;

  }

}