@import "./src/styles/mixins";
@import "./src/styles/config";

.input-range__slider {
  appearance: none;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1rem;
}

.input-range__slider:active {
  transform: scale(1.3);
}

.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}

.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none;
}

.input-range__slider-container {
  transition: left 0.3s ease-out;
}

.input-range__label {
  color: #aaaaaa;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute;
}

.input-range__label--min {
  left: 0;
}

.input-range__label--max {
  right: 0;
}

.input-range__label--value {
  position: absolute;
  top: -1.8rem;
}

.input-range__label-container {
  left: -50%;
  position: relative;
}

.input-range__label--max .input-range__label-container {
  left: 50%;
}

.input-range__track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}

.input-range--disabled .input-range__track {
  background: #eeeeee;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  background: #3f51b5;
}

.input-range {
  height: 1rem;
  position: relative;
  width: 100%;
}

.filter {
  padding-top: 1.5rem;
  padding-right: 1rem;
  width: 20%;

  @include media(lg) {
    width: 100%;
    padding-right: 0;
  }


  &__category {
    border-top: 1px solid $devider;
    padding: 0 1rem;

    &:last-child {
      border-bottom: 1px solid $devider;
    }

    &--active {
      .filter__category__rage {
        opacity: 1;
        height: 50px;
        margin-top: 1rem;
      }

      .filter__category__brand {
        opacity: 1;
        height: 100px;
        display: block;
      }

      .filter__category__arrow {
        transform: rotate(90deg);
      }

      .filter__category__form {
        display: flex;
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 1rem 0;
      width: 100%;
    }

    &__arrow {
      background-image: url("../../images/ic_arrow.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      width: 4px;
      height: 9px;
      transition: .1s ease-in, .1s ease-in-out;
    }

    &__rage {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 0;
      opacity: 0;
      transition: .1s ease-in, .1s ease-in-out;
    }

    &__brand {
      height: 0;
      opacity: 0;
      transition: .1s ease-in, .1s ease-in-out;
    }

    &__form {
      display: none;
      flex-direction: column;

      &__item {
        display: flex;
        align-items: center;
        cursor: pointer;

        input {
          margin-right: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}