@import "./src/styles/mixins";
@import "./src/styles/config";

.products__item {
  margin: .5rem;
  border: 1px solid $border;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    .products__item__button {
      opacity: 1;
    }
  }

  &__title {
    font-weight: 500;
    padding: 1rem 1rem 0;
  }

  &__image {
    width: 180px;
    height: 180px;
    object-fit: contain;

    &-wrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 290px;
      background: #F7F7F7;
    }
  }

  .rating {
    padding: 1rem 1rem 0;
  }

  &__info {
    padding: 1rem 1rem .5rem;
    position: relative;
  }

  &__description {
    display: none;
  }

  &__price {
    font-weight: 600;
  }

  &__bottom {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem .5rem;
  }

  &__button {
    padding: .5rem 1rem;
    background-color: $black;
    color: $white;
    transition: .3s ease-in, .3s ease-in-out;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 1;
    }

    .products__item__icon-cart {
      background-image: url("../../images/ic_cart_white.svg");
      margin-right: .5rem;
    }
  }

  &__icon-cart {
    background-image: url("../../images/ic_cart_product.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
  }
}