@import './src/styles/mixins';
@import './src/styles/config';


.video-popup {
  position: fixed;
  background: #0000008a;
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;


  &__inner {
    position: relative;
    max-width: 650px;
    width: 100%;
    height: 400px;
    @include media(sm) {
      padding: 40px 60px;
    }
    @include media(xs) {
      padding: 15px;
      height: 300px;
    }
  }

  &__iframe
  {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__close {
    position: absolute;
    right: -40px;
    top: -40px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    @include media(sm) {
      right: 25px;
      top: -5px;
    }
    @include media(xs) {
      right: 15px;
      top: -40px;
    }
  }

  &__loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }

    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }

    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }

  }

}

.video-popup.video-popup--show {
  display: flex;
}
