@import "./src/styles/mixins";
@import "./src/styles/config";

.header {
    box-shadow: 0 2px 10px $lightgrey;
    background-color: $body;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 1rem 0;
    top: 0;
    left: 0;
    transition: .5s ease-in, .5s ease-in-out;

    &--hide
    {
        transform: translate(0, -100px);
    }

    &__inner {
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__logo {
        height: auto;
        min-height: 41px;
        max-width: 12.5rem;
    }

    &__nav {
        &__list {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &__item {
            height: 100%;
            position: relative;
            margin: 0 1.5rem;

            &:last-child {
                margin-left: 1.5rem;
                margin-right: 0;
            }
        }

        &__link {
            font-weight: 500;
            text-transform: capitalize;
            color: $black;
            transition: .3s ease-in, .3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: $blue;
            }

            &--active {
                color: $blue;
            }

            &--icon {
                svg {
                    height: 16px;
                    width: 18px;
                }
            }
        }
    }
}