@import "./src/styles/mixins";
@import "./src/styles/config";

.header {
    background-color: $white;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    transition: .5s ease-in, .5s ease-in-out;
    border-bottom: 1px solid #E4E4E4;

    &--hide {
        transform: translate(0, -150px);
    }

    &__head {
        text-align: center;
        background-color: $black;
        color: $white;
        width: 100%;
        padding: .4rem 0;
        font-size: .9rem;
        line-height: 1;
    }

    &__inner {
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__logo {
        height: auto;
        min-height: 41px;
        max-width: 12.5rem;
    }

    &__nav {
        &__list {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &__item {
            height: 100%;
            position: relative;
            margin: 0 1.5rem;

            &:last-child {
                margin-left: 1.5rem;
                margin-right: 0;
            }

            &:first-child {
                margin-left: 0;
                margin-right: 1.5rem;
            }
        }

        &__link {
            font-weight: 500;
            text-transform: capitalize;
            color: $black;
            transition: .3s ease-in, .3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: $blue;
            }

            &--active {
                color: $blue;
            }

            &--icon {
                position: relative;
            }
        }
    }
}

.user-icon,
.cart-icon {
    width: 22px;
    height: 22px;
    background-size: contain;
}

.count-cart {
    background-color: $black;
    color: $white;
    border-radius: 50%;
    padding: 2px 4px;
    position: absolute;
    top: -5px;
    right: -8px;
    line-height: 1;
    font-size: 12px;
}