@import "./src/styles/mixins";
@import "./src/styles/config";

.products {
  &__inner {
    @include container;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
  }

  &__sort {
    margin-left: auto;
    display: flex;
    align-items: center;

    label {
      font-weight: 500;
      margin-right: 2px;
    }
  }

  &__select {
    width: 200px;
  }

  &__list {
    padding-top: 1rem;
  }
}

.products__list {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -.5rem 0.5rem;
}

.products__item {
  width: calc(33.3333% - 1rem);
}