@import "./src/styles/mixins";
@import "./src/styles/config";

.products {
  &__inner {
    @include container;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1rem;

    @include media(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__sort {
    margin-left: auto;
    display: flex;
    align-items: center;

    @include media(md) {
      margin-left: 0;
      margin-top: 1rem;
    }

    label {
      font-weight: 500;
      margin-right: 2px;
    }
  }

  &__select {
    width: 200px;
  }

  &__list {
    padding-top: 1rem;
  }
}

.products__list {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -.5rem 0.5rem;
  width: 80%;

  @include media(lg) {
    width: 70%;
  }

  @include media(sm) {
    width: 100%;
  }

  @include media(sm) {
    margin: 0 0 0.5rem;
  }
}

.products__item {
  width: calc(33.3333% - 1rem);

  @include media(lg) {
    width: calc(50% - 1rem);
  }

  @include media(sm) {
    width: 100%;
  }
}